{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["ie>=8", "chrome>=62"]
        },
        "modules": false,
        "corejs": 3,
        // 是否启用console.log
        // "debug": true,
        "useBuiltIns": "usage"
      }
    ],
    [
      "@babel/preset-react"
    ]
  ],
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "es",
        "style": true
      }
    ],
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties",
    "react-hot-loader/babel"
  ]
}
